.title{
    color: white;
    text-align: center;
    z-index: 50;
    position: relative;
}

.title02{
    margin-top: 440px;
}

.title03{
    margin-top: 440px;
}

.title04{
    margin-top: 100px;
}

.title05{
    margin-top: 185px;
}

.titledark{
    color: #0e0e0e;
}

.title_num{
    font-family: 'dinpro-condensedbold';
    font-size: 150px;
    display: inline-block;
    z-index: 50;
}

.title_txt{
    font-family: 'Noto Serif';
    font-size: 30px;
    font-weight: 300;
    display: inline-block;
    z-index: 50;
}

.author{
    position: relative;
    width: 100%;
    font-family: 'Noto Serif';
    font-size: 12px;
    font-style: italic;
    margin: auto;
}


.portfolio{
    z-index: 10;
}

.portfolio_thumbs{
    width: 100%;
    position: relative;
    text-align: center;
    z-index: 10;
}

.portfolio_01{
    background: url('../img/p1.jpg') no-repeat 50% 0;
    width: 400px;
    height: 700px;
    margin: 30px;
    position: relative;
    top: 80px;
    display: inline-block;
}

.portfolio_02{
    background: url('../img/p1.jpg') no-repeat 50% 0;
    width: 400px;
    height: 700px;
    margin: 30px;
    position: relative;
    top: 80px;
    display: inline-block;
}

.portfolio_03{
    background: url('../img/p1.jpg') no-repeat 50% 0;
    width: 400px;
    height: 700px;
    margin: 30px;
    position: relative;
    top: 80px;
    display: inline-block;
}

.holder_01 {
  position: relative; 
  width: calc(400px - 30px); 
  height: calc(700px - 30px); 
  overflow: hidden;
  opacity: 0;
}

.holder_02 {
  position: relative; 
  width: calc(400px - 30px); 
  height: calc(700px - 30px); 
  overflow: hidden;
  opacity: 0;
}

.holder_03 {
  position: relative; 
  width: calc(400px - 30px); 
  height: calc(700px - 30px); 
  overflow: hidden;
  opacity: 0;
}


/* glitch elem must have absolute position */
 .glitch-img {
   position: absolute; 
   width : 400px; 
   height : 700px; 
   background-position:center;  
   -moz-background-size:cover;
   -o-background-size:cover;
   -webkit-background-size:cover;
   background-size:cover;
 } 

a {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

#container{
    overflow: hidden;
}

.button {
  background: url(../img/button.gif) no-repeat;
  width: 140px;
  height: 40px;
  font-family: 'dinpro-condensedbold';
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  position: relative;
  margin-top: 180px;
}

@-webkit-keyframes glowing {
  0% { background: url(../img/button.gif) no-repeat;  }
  50% { background: url(../img/button_.gif) no-repeat;  }
  100% { background: url(../img/button.gif) no-repeat;  }
}

@-moz-keyframes glowing {
  0% { background: url(../img/button.gif) no-repeat;  }
  50% { background: url(../img/button_.gif) no-repeat;  }
  100% { background: url(../img/button.gif) no-repeat;  }
}

@-o-keyframes glowing {
  0% { background: url(../img/button.gif) no-repeat;  }
  50% { background: url(../img/button_.gif) no-repeat;  }
  100% { background: url(../img/button.gif) no-repeat;  }
}

@keyframes glowing {
  0% { background: url(../img/button.gif) no-repeat;  }
  50% { background: url(../img/button_.gif) no-repeat;  }
  100% { background: url(../img/button.gif) no-repeat;  }
}

.button:hover {
  -webkit-animation: glowing 150ms infinite;
  -moz-animation: glowing 150ms infinite;
  -o-animation: glowing 150ms infinite;
  animation: glowing 150ms infinite;
}

@media (max-width: 1400px) {
    .portfolio_01{
        background: url('../img/portfolio_01_small.jpg') no-repeat 50% 0;
        width: 300px;
        height: 525px;
        margin: 30px;
        position: relative;
        top: 80px;
        display: inline-block;
    }

    .portfolio_02{
        background: url('../img/portfolio_02_small.jpg') no-repeat 50% 0;
        width: 300px;
        height: 525px;
        margin: 30px;
        position: relative;
        top: 80px;
        display: inline-block;
    }

    .portfolio_03{
        background: url('../img/portfolio_03_small.jpg') no-repeat 50% 0;
        width: 300px;
        height: 525px;
        margin: 30px;
        position: relative;
        top: 80px;
        display: inline-block;
    }

    .holder_01 {
      position: relative; 
      width: calc(300px - 0px); 
      height: calc(525px - 0px); 
      overflow: hidden;
      opacity: 0;
    }

    .holder_02 {
      position: relative; 
     width: calc(300px - 0px); 
      height: calc(525px - 0px);
      overflow: hidden;
      opacity: 0;
    }

    .holder_03 {
      position: relative; 
      width: calc(300px - 0px); 
      height: calc(525px - 0px);
      overflow: hidden;
      opacity: 0;
    }
}

